services:
  db:
    image: postgres:16
    container_name: visithammerfest-postgres
    environment:
      POSTGRES_DB: visithammerfest
      POSTGRES_USER: visithammerfest
      POSTGRES_PASSWORD: visithammerfest
      POSTGRES_INITDB_ARGS: "--encoding=UTF8 --locale-provider=icu --icu-locale=nb"
    ports:
      - '5433:5432'
    volumes:
      - ./server/data/postgres:/var/lib/postgresql/data
    restart: unless-stopped

  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: visithammerfest-api
    env_file:
      - ./.env
    depends_on:
      - db
    volumes:
      - ./server/uploads:/app/server/uploads
    networks:
      - default
      - web
    restart: unless-stopped

  web:
    build:
      context: .
      dockerfile: Dockerfile.web
      args:
        VITE_API_BASE_URL: ${VITE_API_BASE_URL}
    container_name: visithammerfest-web
    depends_on:
      - api
    networks:
      - web
    restart: unless-stopped

networks:
  web:
    external: true
