services:
  db:
    image: postgres:16
    container_name: auth-postgres
    environment:
      POSTGRES_DB: wegener_auth
      POSTGRES_USER: wegener_auth
      POSTGRES_PASSWORD: wegener_auth
    ports:
      - '5440:5432'
    volumes:
      - ./server/data/postgres:/var/lib/postgresql/data
    restart: unless-stopped

  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: wegener-auth
    env_file:
      - ./.env
    depends_on:
      - db
    ports:
      - '3010:3010'
    networks:
      - default
      - web
    restart: unless-stopped

networks:
  web:
    external: true
