api:
  dashboard: true
  insecure: false

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"
    http:
      middlewares:
        - bot-ratelimit@file

experimental:
  plugins:
    blockuseragent:
      moduleName: github.com/agence-gaya/traefik-plugin-blockuseragent
      version: v0.1.7

providers:
  file:
    directory: /etc/traefik/dynamic
    watch: true

log:
  level: INFO

accessLog:
  filePath: /var/log/traefik/traefik-access.log
  bufferingSize: 0
  format: json
  fields:
    headers:
      names:
        User-Agent: keep

metrics:
  prometheus:
    addEntryPointsLabels: true
    addRoutersLabels: true
    addServicesLabels: true

certificatesResolvers:
  letsencrypt:
    acme:
      email: admin@wegener.no
      storage: /letsencrypt/acme.json
      httpChallenge:
        entryPoint: web
