:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  color-scheme: light;
}

* {
  box-sizing: border-box;
}

html,
body,
#root,
.page {
  height: 100%;
}

body {
  margin: 0;
  overflow-y: scroll;
  height: 100vh;
}
