apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-north
  namespace: prod
spec:
  replicas: 1
  selector:
    matchLabels:
      app: go-north
  template:
    metadata:
      labels:
        app: go-north
    spec:
      containers:
        - name: app
          image: localhost:32000/go-north:latest
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: "32Mi"
              cpu: "10m"
            limits:
              memory: "128Mi"
              cpu: "200m"
